.true {
  list-style-type: none;
}
.true:before {
  content: "✓";
  margin-right: 5px;
  font-weight: bold;
}
.carddatas:nth-child(2) {
  font-weight: bold;
}
.false,
h4 {
  list-style-type: none;
  color: rgb(181, 177, 177);
}
.false:before {
  content: "X";
  margin-right: 5px;
}
section {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}
hr {
  margin: 1.5rem 0;
}

span {
  font-size: 16px;
}
.btn {
  width: 90%;
  font-size: 15px;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;

  transition: all 0.2s;
  opacity: 0.7;
  margin-bottom: 10px;
}
.cardhov {
  width: 400px;
  border: none;
  text-align: center;
  border-radius: 1rem;
  transition: all 0.2s;

  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: white;

  margin-right: 20px;
}
.cardhov:hover {
  cursor: pointer;
  margin-top: -0.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.cardhov:hover .btn {
  opacity: 1;
}
li {
  text-align: left;
}
#cardlist {
  display: flex;
  padding-top: 20px;
  place-content: center;
}
